@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url(../fonts/Rubik-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url(../fonts/Rubik-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url(../fonts/Rubik-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #121212;
  line-height: 1;
  font-family: Rubik,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Rubik,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
body {
  scrollbar-gutter: stable;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.lock body {
  overflow: hidden;
  touch-action: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: .625rem;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: .0625rem solid #121212;
  caret-color: inherit;
  background-color: #fff;
  min-height: 3.125rem;
  font-size: 1.125rem
}
.input._form-focus {
  border-color: #066839;
  outline-color: #066839
}
.input._form-error {
  border-color: #cd0000
}
.input._form-error::-webkit-input-placeholder {
  color: #cd0000
}
.input._form-error:-ms-input-placeholder {
  color: #cd0000
}
.input._form-error::-ms-input-placeholder {
  color: #cd0000
}
.input._form-error::placeholder {
  color: #cd0000
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 1.25rem;
  min-height: 7.5rem
}
.form {
  background-color: #ededed;
  border: .0625rem solid #121212;
  border-radius: 1.25rem;
  padding: 1.25rem;
  position: relative
}
.form._sending .form__button {
  pointer-events: none;
  opacity: .5
}
.form .form__error {
  position: absolute;
  bottom: .3125rem;
  right: .3125rem;
  color: #cd0000
}
._sent-success .form__body {
  opacity: 0;
  pointer-events: none
}
.form__item {
  margin-bottom: 1.25rem;
  position: relative
}
.form__lable {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: .625rem
}
.form__button {
  width: 100%
}
.success {
  position: absolute;
  z-index: 2;
  inset: 0;
  padding: 1.25rem;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
._sent-success .success {
  opacity: 1;
  pointer-events: all
}
.success__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border-radius: .375rem;
  background-color: rgba(0,0,0,.8);
  display: grid;
  place-items: center;
  padding: .3125rem
}
.success__close svg path {
  stroke: #fff
}
.success__title {
  position: relative;
  font-weight: 700;
  margin-bottom: 1.25rem
}
.success__title:before {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: 50%;
  -webkit-transform: translate(-50%,-100%);
  transform: translate(-50%,-100%);
  background-image: url(../img/icon/check_circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  aspect-ratio: 1/1
}
.success__subtitle span {
  color: #066839
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
[class*=__container] {
  width: 100%;
  margin-inline: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem
}
body {
  background-color: #fff
}
*::-webkit-scrollbar {
  width: 5px
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0)
}
*::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 3px
}
.btn {
  display: grid;
  place-items: center;
  padding: .3125rem 1.5625rem;
  border-radius: 1.25rem;
  color: #fff;
  text-align: center;
  transition: color .3s ease,background-color .3s ease,border .3s ease;
  font-size: 1.125rem
}
.btn_one {
  min-height: 2.5rem;
  background-color: #066839
}
.btn_three,
.btn_two {
  border: .125rem solid #066839;
  min-height: 3.75rem;
  border-radius: 3.75rem
}
.btn_two {
  background-color: #066839
}
.btn_three {
  background-color: #fff;
  color: #066839
}
.title-hero {
  font-weight: 700;
  line-height: .9
}
.title-main {
  font-weight: 500
}
.title-main span {
  color: #066839
}
.title-main.title-mark {
  line-height: 1.2
}
.title-main.title-mark span {
  color: #121212;
  display: inline-block;
  background-color: #e9b44d;
  border-radius: .5rem;
  padding: .3125rem .625rem;
  margin-bottom: .3125rem
}
.txt-sub {
  line-height: 1.2;
  font-weight: 500
}
.tiker {
  overflow: hidden;
  width: -webkit-max-content;
  width: max-content;
  overflow: visible;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5
}
.tiker:not(:last-child) {
  margin-bottom: .625rem
}
.tiker__list {
  display: flex;
  flex-wrap: nowrap
}
.tiker__item {
  border-radius: .625rem;
  background-color: #fff;
  margin-right: .625rem
}
.tiker__item img {
  width: 100%;
  height: auto
}
@-webkit-keyframes scroll {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@keyframes scroll {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@-webkit-keyframes scroll-rev {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes scroll-rev {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
._showmore-active [data-showmore-button] .more-showe {
  display: none
}
[data-showmore-button] .more-hidden {
  display: none
}
._showmore-active [data-showmore-button] .more-hidden {
  display: block
}
.social-btn {
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: .0625rem solid #121212;
  background-color: #fff;
  transition: background-color .3s ease
}
.social-btn svg path {
  transition: fill .3s ease
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #fff;
  background-color: #121212
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  display: inline-block;
  position: relative;
  z-index: 5
}
.header__logo img {
  height: auto
}
.menu {
  display: flex;
  align-items: center
}
.menu__list {
  display: flex;
  flex-wrap: wrap
}
.menu__link {
  transition: color .3s ease
}
.menu__contacts {
  position: relative;
  z-index: 5;
  display: flex;
  gap: 5px
}
.icon-menu__ic {
  display: none
}
.footer {
  background-color: #121212;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative
}
.footer:before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(0,0,0,.6)
}
.footer__container {
  position: relative;
  z-index: 2
}
.footer__top {
  display: grid;
  gap: 2.5rem 1.25rem;
  padding-bottom: 2.5rem
}
.footer__logo img {
  height: auto;
  width: 100%
}
.footer__item:not(:last-child) {
  margin-bottom: .9375rem
}
.footer__link {
  font-weight: 500;
  font-size: 1.375rem;
  transition: color .3s ease
}
.footer__bottom {
  padding-top: 2.5rem;
  border-top: .0625rem solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.footer__btm.link {
  transition: color .3s ease
}
.contacts-footer__list {
  display: flex;
  align-items: center;
  gap: .625rem
}
.hero {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.hero::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0
}
.hero__container {
  position: relative;
  z-index: 2;
  display: flex
}
.hero__body {
  color: #fff
}
.hero__top {
  line-height: 1.2;
  font-weight: 400
}
.hero__txt {
  font-weight: 500
}
.hero__txt:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__item {
  background-image: url(../img/icon/check_circle.svg);
  background-repeat: no-repeat;
  background-size: 1.375rem;
  background-position: left;
  padding-left: 1.875rem
}
.hero__item p {
  display: inline-block
}
.hero__item:not(:last-child) {
  margin-bottom: .25rem
}
.hero__item:last-child span {
  display: inline-block;
  position: relative
}
.hero__item:last-child span::after {
  content: "";
  position: absolute;
  bottom: 0;
  bottom: 0;
  right: -50%;
  background-image: url(../img/icon/distance.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  aspect-ratio: 1/1
}
.hero__buttons {
  display: grid
}
.services {
  background-color: #ededed
}
.services__list {
  display: grid
}
.services__item {
  border: .09375rem solid #121212;
  border-radius: 1.25rem;
  aspect-ratio: 1/1;
  background-color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  box-shadow: 5px 5px 10px #747474,-5px -5px 20px #fff
}
.services__item p {
  flex: 1;
  word-break: break-word
}
.services__ic {
  flex: 1
}
.services__ic img {
  height: 100%;
  width: 100%;
  max-width: 35%;
  -o-object-fit: contain;
  object-fit: contain
}
.services__link {
  width: 100%;
  max-width: 23.75rem
}
.why {
  min-height: 80svh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative
}
.why:before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(0,0,0,.6)
}
.why__container {
  position: relative;
  z-index: 3;
  color: #fff
}
.process {
  line-height: 1.2;
  font-weight: 400
}
.process__list {
  list-style-type: none;
  counter-reset: item;
  display: grid;
  gap: 1.25rem
}
.process__item {
  position: relative
}
.process__item ul li {
  padding-left: 1rem;
  position: relative
}
.process__item ul li::before {
  content: "";
  position: absolute;
  top: .375rem;
  left: 0;
  width: .375rem;
  height: .375rem;
  border-radius: 50%;
  background-color: #121212
}
.process__item ul li:not(:last-child) {
  margin-bottom: .375rem
}
.process__item::before {
  counter-increment: item;
  content: "0" counter(item);
  position: absolute;
  z-index: -1;
  font-weight: 500;
  border-radius: 30px;
  color: rgba(43,159,100,.25);
  display: grid;
  place-items: center;
  flex: 0 0 auto
}
.process__block img {
  height: auto
}
.process__link {
  width: 100%;
  max-width: 23.75rem
}
.about__body {
  display: grid;
  gap: 1.875rem
}
.about__texts {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-top: 1.875rem;
  position: relative
}
.about__texts::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 12.5rem;
  aspect-ratio: 1/1;
  background-image: url(../img/icon/format_quote.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .1
}
.about__quote {
  flex: 1
}
.about__txt {
  line-height: 1.2
}
.about__txt:not(:last-child) {
  margin-bottom: 1.25rem
}
.about__img {
  aspect-ratio: 1/1
}
.about__img img {
  aspect-ratio: 1/1;
  border-radius: 1.25rem;
  box-shadow: 5px 5px 10px #595959,-5px -5px 20px #fff
}
.about__founder {
  padding-left: 1.25rem;
  position: relative
}
.about__founder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .3125rem;
  height: 100%;
  background-color: #e9b44d
}
.about__name {
  font-weight: 700;
  margin-bottom: .625rem
}
.type {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative
}
.type:before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(0,0,0,.6)
}
.type__container {
  color: #fff;
  position: relative;
  z-index: 2
}
.type__title {
  text-align: center
}
.type__list {
  display: grid;
  gap: .625rem
}
.type__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #121212;
  border: .0625rem solid #121212;
  border-radius: .625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem
}
.type__img {
  height: 100%
}
.type__name {
  flex: 1;
  text-align: center;
  align-content: center
}
.reviews {
  background-color: #121212
}
.reviews__title {
  color: #fff
}
.reviews__title span {
  color: #e9b44d
}
.reviews__subtitle {
  color: #fff
}
.reviews__body {
  position: relative
}
.slide-reviews__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.2;
  border: .0625rem solid #121212;
  border-radius: .625rem;
  background-color: #fff;
  padding: 1.25rem
}
.slide-reviews__head {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: .625rem;
  margin-bottom: 1.25rem
}
.slide-reviews__head img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden
}
.slide-reviews__name {
  word-break: break-word;
  font-weight: 700;
  font-size: 1.25rem
}
.slide-reviews__testimonials {
  flex: 1;
  font-size: 1.125rem
}
.price {
  background-color: #ededed
}
.price__img img {
  -o-object-position: top;
  object-position: top
}
.price__list {
  background-color: #fff;
  border-radius: 1.25rem;
  border: .0625rem solid rgba(0,0,0,.5);
  padding: 1.25rem
}
.price__item {
  line-height: 1.2;
  display: grid
}
.price__item:not(:last-child) {
  border-bottom: .0625rem solid rgba(0,0,0,.2)
}
.price__price {
  font-weight: 500;
  justify-self: flex-end
}
.price__buttons {
  flex: 1;
  display: grid;
  gap: .625rem;
  align-items: flex-end
}
.price__more {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content
}
.price__link {
  width: 100%
}
.order__title {
  text-align: center
}
.order__subtitle {
  text-align: center;
  margin-inline: auto
}
.faq {
  background-color: #121212
}
.faq__title {
  color: #fff;
  text-align: center
}
.spollers__item {
  border-radius: 1.25rem;
  line-height: 1.2;
  background-color: #fff
}
.spollers__item:not(:last-child) {
  margin-bottom: .625rem
}
.spollers__head {
  cursor: pointer;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3.75rem;
  font-size: 1.25rem;
  font-weight: 500
}
.spollers__head._spoller-active::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.spollers__head::after {
  content: "";
  background-image: url(../img/icon/arrow_outward.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1.875rem;
  aspect-ratio: 1/1;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}
.spollers__body {
  padding: 1.25rem
}
.spollers__body p {
  font-size: 1.125rem
}
.spollers__body p:not(:last-child) {
  margin-bottom: .625rem
}
.contacts__body {
  display: grid
}
.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem
}
.contacts__txt {
  max-width: 100%!important
}
.contacts__txt p {
  margin-bottom: 1.25rem
}
.contacts__list li {
  padding-left: 1.25rem;
  position: relative
}
.contacts__list li:not(:last-child) {
  margin-bottom: .5rem
}
.contacts__list li p {
  font-weight: 400;
  margin-bottom: 0
}
.contacts__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: .625rem;
  border-radius: 50%;
  width: .375rem;
  aspect-ratio: 1/1;
  background-color: #066839
}
.contacts__address {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.contacts__link {
  display: inline-block;
  font-weight: 500;
  transition: color .3s ease
}
.contacts__socials {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.contacts__social {
  box-shadow: 5px 5px 10px #747474,-5px -5px 20px #fff
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:30.06125em) {
  .txt-sub {
    max-width: 60%
  }
  .menu {
    gap: .3125rem 1.875rem
  }
  .menu__contacts span {
    display: inline-block
  }
  .footer {
    background-image: url(../img/why-bg-pc.webp)
  }
  .hero {
    background-image: url(../img/hero-pc2.webp)
  }
  .hero::before {
    background-image: linear-gradient(90deg,#000 10%,rgba(0,0,0,0) 100%)
  }
  .hero__container {
    flex: 1
  }
  .hero__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1
  }
  .hero__top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .services__list {
    gap: .625rem;
    grid-template-columns: repeat(auto-fit,minmax(12.5rem,1fr))
  }
  .why {
    background-image: url(../img/why-bg-pc.webp)
  }
  .process__item::before {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%);
    right: 0;
    bottom: 0
  }
  .process__item:not(:last-child)::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 50%;
    width: .125rem;
    background-color: #121212;
    top: 50%;
    right: -.625rem;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
  }
  .process__item {
    padding: .3125rem
  }
  .process__block img {
    margin-bottom: .625rem
  }
  .type {
    background-image: url(../img/laundromat-pc.webp)
  }
  .type__img {
    max-height: 16.25rem
  }
  .reviews__button {
    position: absolute;
    top: 50%;
    z-index: 2;
    border-radius: 50%;
    background-color: #fff;
    border: .0625rem solid #121212;
    box-shadow: 5px 4px 9px 0 rgba(0,0,0,.25);
    background-repeat: no-repeat;
    background-size: 65%;
    aspect-ratio: 1/1
  }
  .reviews__button.swiper-button-prev {
    left: 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-position: 40% 50%;
    background-image: url(../img/icon/arrow_prev.svg)
  }
  .reviews__button.swiper-button-next {
    right: 0;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    background-position: 60% 50%;
    background-image: url(../img/icon/arrow_next.svg)
  }
  .price__list {
    display: flex;
    flex-direction: column
  }
  .price__item {
    grid-template-columns: 1fr 8.125rem;
    gap: 1.25rem;
    padding: 1.25rem 0
  }
  .spollers__head {
    padding: 1.25rem
  }
  .spollers__head::after {
    justify-self: center
  }
}
@media (min-width:37.56125em) {
  .footer__top {
    grid-template-columns: repeat(3,1fr)
  }
  .footer__nav {
    justify-self: center
  }
  .footer__contacts {
    justify-self: flex-end
  }
  .about__body {
    grid-template-columns: 30% 1fr
  }
  .price__container {
    display: grid;
    gap: 3.75rem;
    grid-template-columns: 30% 1fr
  }
}
@media (min-width:43.81125em) {
  .form__button {
    max-width: 25rem;
    margin-inline: auto
  }
  .hero__buttons {
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem
  }
  .order__form {
    max-width: 60%;
    margin-inline: auto
  }
  .contacts__body {
    grid-template-columns: 40% 1fr;
    gap: 3.75rem
  }
  .contacts__map {
    border-radius: 1.25rem;
    border: .0625rem solid #121212;
    overflow: hidden;
    aspect-ratio: 1/1
  }
  .contacts__map iframe {
    aspect-ratio: 1/1
  }
  .contacts__info {
    justify-content: space-between
  }
}
@media (min-width:48.06125em) {
  .services__item {
    padding: 1.25rem
  }
}
@media (min-width:51.31125em) {
  .hero {
    justify-content: center
  }
  .hero__title {
    max-width: 80%
  }
  .hero__txt {
    max-width: 80%
  }
  .hero__buttons {
    max-width: 80%
  }
  .type__list {
    grid-template-columns: repeat(4,1fr)
  }
  .faq__body {
    max-width: 60%;
    margin-inline: auto
  }
}
@media (min-width:62.06125em) {
  .menu__list {
    gap: .3125rem 1.875rem;
    align-items: center
  }
  .menu__link {
    font-weight: 400;
    font-size: 1.125rem
  }
  .icon-menu {
    display: none
  }
  .process__list {
    grid-template-columns: repeat(5,1fr)
  }
}
@media (min-width:64.06125em) {
  .price__buttons {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:75.06125em) {
  .hero__body {
    max-width: 65%
  }
}
@media (min-width:90.06125em) {
  .process__list {
    margin-bottom: 3.75rem
  }
  .about__name {
    font-size: 1.375rem
  }
  .about__position {
    font-size: 1.125rem
  }
  .type__item {
    padding-top: 3.75rem
  }
  .type__item {
    padding-bottom: 3.75rem
  }
  .type__img {
    margin-bottom: 2.5rem
  }
  .type__name {
    font-size: 1.75rem
  }
  .reviews__button {
    width: 2.8125rem
  }
  .price__item {
    font-size: 1.125rem
  }
  .price__buttons {
    margin-top: 2.5rem
  }
  .contacts__link {
    font-size: 2.5rem
  }
}
@media (min-width:120.06125em) {
  .tiker__item {
    max-width: 11.25rem
  }
}
@media (min-width:90em) {
  .hero {
    padding-top: 9.375rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .services__item {
    font-size: 1.25rem
  }
  .process__item::before {
    font-size: 6.25rem
  }
  .process__block img {
    width: 3.75rem
  }
}
@media (min-width:120em) {
  .success__title {
    font-size: 3.125rem
  }
  [class*=__container] {
    max-width: 81.25rem
  }
  .title-hero {
    font-size: 5.625rem
  }
  .title-main {
    font-size: 4.375rem
  }
  .txt-sub {
    font-size: 1.375rem
  }
  .contacts,
  .faq,
  .footer,
  .order,
  .price,
  .process,
  .reviews,
  .services,
  .type,
  .why {
    padding-top: 6.25rem
  }
  .contacts,
  .faq,
  .footer,
  .order,
  .price,
  .process,
  .reviews,
  .services,
  .type,
  .why {
    padding-bottom: 6.25rem
  }
  .about {
    padding-bottom: 6.25rem
  }
  .services__list,
  .title-main,
  .txt-sub:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .tiker__wrapper:not(:last-child) {
    margin-bottom: 6.25rem
  }
  .header__logo img {
    width: 9.375rem
  }
  .footer__logo img {
    max-width: 12.5rem
  }
  .hero {
    padding-bottom: 3.75rem
  }
  .hero__top {
    font-size: 1.375rem
  }
  .hero__item:last-child span::after {
    width: 2.125rem
  }
  .hero__buttons {
    margin-top: 3.125rem
  }
  .why__item {
    font-size: 2.625rem
  }
  .why__item:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .process__item {
    font-size: 1.125rem
  }
  .about__txt {
    font-size: 1.25rem
  }
}
@media (max-width:90em) {
  [class*=__container] {
    max-width: 75rem
  }
}
@media (max-width:30em) {
  .services__list,
  .title-main,
  .txt-sub:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .why__item {
    font-size: 1.5625rem
  }
  .why__item:not(:last-child) {
    margin-bottom: .625rem
  }
  .process__block img {
    width: 3.125rem
  }
  .about__txt {
    font-size: 1.125rem
  }
}
@media (max-width:62.06125em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 4.375rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: #121212
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.125rem;
    left: -100%;
    top: 0;
    background-color: #121212;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem 1.875rem
  }
  .menu__link {
    font-size: 2.625rem;
    font-weight: 500
  }
  .icon-menu {
    width: 2.5rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center
  }
  .icon-menu__ic {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu__ic span,
  .icon-menu__ic::after,
  .icon-menu__ic::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #ededed
  }
  .icon-menu__ic::before {
    top: 0
  }
  .icon-menu__ic::after {
    bottom: 0
  }
  .icon-menu__ic span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu__ic span {
    width: 0
  }
  .menu-open .icon-menu__ic::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu__ic::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:62.06125em)and (any-hover:none) {
  .icon-menu__ic {
    cursor: default
  }
}
@media (max-width:51.31125em) {
  .services__button {
    display: flex;
    justify-content: center
  }
  .type__list {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:43.81125em) {
  .hero__buttons {
    gap: .625rem
  }
  .contacts__body {
    gap: 2.5rem
  }
  .contacts__map {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    order: 2
  }
  .contacts__map iframe {
    aspect-ratio: 16/10
  }
  .contacts__info {
    order: 1
  }
}
@media (max-width:41.56125em) {
  .services__item:last-child {
    grid-column: 1/3;
    aspect-ratio: unset
  }
}
@media (max-width:37.56125em) {
  .footer__top {
    grid-template-columns: repeat(2,1fr)
  }
  .footer__contacts {
    grid-column: 2/3
  }
  .price__img {
    display: none
  }
}
@media (max-width:30.06125em) {
  .success__title {
    font-size: 1.875rem
  }
  .title-hero {
    font-size: 3.125rem
  }
  .title-main {
    font-size: 2.5rem
  }
  .txt-sub {
    font-size: 1.125rem
  }
  .contacts,
  .faq,
  .footer,
  .order,
  .price,
  .process,
  .reviews,
  .services,
  .type,
  .why {
    padding-top: 2.5rem
  }
  .contacts,
  .faq,
  .footer,
  .order,
  .price,
  .process,
  .reviews,
  .services,
  .type,
  .why {
    padding-bottom: 2.5rem
  }
  .about {
    padding-bottom: 2.5rem
  }
  .tiker__wrapper:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .tiker__item {
    max-width: 6.25rem
  }
  .header__logo img {
    width: 6.875rem
  }
  .menu {
    gap: .625rem
  }
  .menu__contacts span {
    display: none
  }
  .footer {
    background-image: url(../img/why-bg-mb.webp)
  }
  .footer__logo img {
    max-width: 8.125rem
  }
  .hero {
    background-image: url(../img/hero-mb2.webp)
  }
  .hero::before {
    background-color: rgba(0,0,0,.6)
  }
  .hero {
    padding-top: 4.375rem
  }
  .hero {
    padding-bottom: 2.5rem
  }
  .hero {
    justify-content: flex-end
  }
  .hero__top {
    font-size: 1rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .hero__item:last-child span::after {
    width: 1.75rem
  }
  .hero__buttons {
    margin-top: 1.25rem
  }
  .services__list {
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
  }
  .services__item {
    padding: .625rem
  }
  .services__item {
    font-size: 1.125rem
  }
  .why {
    background-image: url(../img/why-bg-mb.webp)
  }
  .process__list {
    margin-bottom: 2.5rem
  }
  .process__list {
    grid-template-rows: repeat(5,1fr)
  }
  .process__item {
    font-size: 1rem
  }
  .process__item::before {
    font-size: 5rem
  }
  .process__item::before {
    top: 50%;
    left: 0;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
  }
  .process__item {
    padding: .3125rem .3125rem .3125rem 2.1875rem
  }
  .process__block img {
    order: 2;
    justify-self: center
  }
  .process__block p,
  .process__block ul {
    order: 1
  }
  .process__block {
    display: grid;
    gap: 1rem;
    grid-template-columns: 80% 1fr;
    align-items: center
  }
  .about__name {
    font-size: 1.125rem
  }
  .about__position {
    font-size: .875rem
  }
  .type {
    background-image: url(../img/laundromat-mb.webp)
  }
  .type__item {
    padding-top: 1.25rem
  }
  .type__item {
    padding-bottom: 1.25rem
  }
  .type__img {
    margin-bottom: 1.25rem
  }
  .type__img {
    max-height: 11.25rem
  }
  .reviews__slider {
    overflow: visible!important
  }
  .reviews__button {
    display: none
  }
  .reviews__button {
    width: 2.375rem
  }
  .price__item {
    font-size: 1rem
  }
  .price__item {
    gap: .625rem;
    padding: .625rem 0;
    grid-template-columns: 1fr 6.5625rem
  }
  .price__buttons {
    margin-top: 1.25rem
  }
  .spollers__head {
    padding: 1rem
  }
  .spollers__head::after {
    justify-self: flex-end
  }
  .contacts__address {
    align-items: center
  }
  .contacts__link {
    font-size: 1.625rem
  }
  .contacts__social svg path {
    fill: #066839
  }
}
@media (max-width:24.43625em) {
  .type__name {
    font-size: 1.125rem
  }
}
@media (max-width:23.49875em) {
  .type__name {
    font-size: .75rem!important
  }
}
@media (max-width:22.56125em) {
  .services__item {
    font-size: 1rem!important
  }
}
@media (min-width:30.06125em)and (max-width:120em) {
  .success__title {
    font-size: clamp(1.875rem ,1.4571983016rem + 1.3898347486vw ,3.125rem)
  }
  .title-hero {
    font-size: clamp(3.125rem ,2.2893966032rem + 2.7796694973vw ,5.625rem)
  }
  .title-main {
    font-size: clamp(2.5rem ,1.8732974524rem + 2.084752123vw ,4.375rem)
  }
  .txt-sub {
    font-size: clamp(1.125rem ,1.0414396603rem + .2779669497vw ,1.375rem)
  }
  .contacts,
  .faq,
  .footer,
  .order,
  .price,
  .process,
  .reviews,
  .services,
  .type,
  .why {
    padding-top: clamp(2.5rem ,1.2465949049rem + 4.1695042459vw ,6.25rem)
  }
  .contacts,
  .faq,
  .footer,
  .order,
  .price,
  .process,
  .reviews,
  .services,
  .type,
  .why {
    padding-bottom: clamp(2.5rem ,1.2465949049rem + 4.1695042459vw ,6.25rem)
  }
  .about {
    padding-bottom: clamp(2.5rem ,1.2465949049rem + 4.1695042459vw ,6.25rem)
  }
  .tiker__wrapper:not(:last-child) {
    margin-bottom: clamp(2.5rem ,1.2465949049rem + 4.1695042459vw ,6.25rem)
  }
  .header__logo img {
    width: clamp(6.875rem ,6.0393966032rem + 2.7796694973vw ,9.375rem)
  }
  .footer__logo img {
    max-width: clamp(8.125rem ,6.6626940557rem + 4.8644216203vw ,12.5rem)
  }
  .hero {
    padding-bottom: clamp(2.5rem ,2.0821983016rem + 1.3898347486vw ,3.75rem)
  }
  .hero__top {
    font-size: clamp(1rem ,.8746594905rem + .4169504246vw ,1.375rem)
  }
  .hero__item:last-child span::after {
    width: clamp(1.75rem ,1.6246594905rem + .4169504246vw ,2.125rem)
  }
  .hero__buttons {
    margin-top: clamp(1.25rem ,.6232974524rem + 2.084752123vw ,3.125rem)
  }
  .process__item {
    font-size: clamp(1rem ,.9582198302rem + .1389834749vw ,1.125rem)
  }
}
@media (min-width:90em)and (max-width:120em) {
  [class*=__container] {
    max-width: clamp(75rem ,56.25rem + 20.8333333333vw ,81.25rem)
  }
}
@media (min-width:30em)and (max-width:120em) {
  .services__list,
  .title-main,
  .txt-sub:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.8333333333rem + 1.3888888889vw ,2.5rem)
  }
  .why__item {
    font-size: clamp(1.5625rem ,1.2083333333rem + 1.1805555556vw ,2.625rem)
  }
  .why__item:not(:last-child) {
    margin-bottom: clamp(.625rem ,.4166666667rem + .6944444444vw ,1.25rem)
  }
  .about__txt {
    font-size: clamp(1.125rem ,1.0833333333rem + .1388888889vw ,1.25rem)
  }
}
@media (min-width:30.06125em)and (max-width:120.06125em) {
  .tiker__item {
    max-width: clamp(6.25rem ,4.5799305556rem + 5.5555555556vw ,11.25rem)
  }
}
@media (min-width:30.06125em)and (max-width:90em) {
  .hero {
    padding-top: clamp(4.375rem ,1.8673359263rem + 8.3418489708vw ,9.375rem)
  }
  .hero__title:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,.778854977rem + 2.6068278034vw ,3.125rem)
  }
  .services__item {
    font-size: clamp(1.125rem ,1.0623083982rem + .2085462243vw ,1.25rem)
  }
  .process__item::before {
    font-size: clamp(5rem ,4.3730839816rem + 2.0854622427vw ,6.25rem)
  }
}
@media (max-width:51.31125em)and (min-width:30.06125em) {
  .hero {
    justify-content: space-between
  }
}
@media (max-width:75.06125em)and (min-width:51.31125em) {
  .hero__body {
    max-width: 75%
  }
}
@media (min-width:30.06125em)and (max-width:48.06125em) {
  .services__item {
    padding: clamp(.625rem ,-.4187934028rem + 3.4722222222vw ,1.25rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .process__list {
    margin-bottom: clamp(2.5rem ,1.8737239583rem + 2.0833333333vw ,3.75rem)
  }
  .about__name {
    font-size: clamp(1.125rem ,.9997447917rem + .4166666667vw ,1.375rem)
  }
  .about__position {
    font-size: clamp(.875rem ,.7497447917rem + .4166666667vw ,1.125rem)
  }
  .type__item {
    padding-top: clamp(1.25rem ,-.0025520833rem + 4.1666666667vw ,3.75rem)
  }
  .type__item {
    padding-bottom: clamp(1.25rem ,-.0025520833rem + 4.1666666667vw ,3.75rem)
  }
  .type__img {
    margin-bottom: clamp(1.25rem ,.6237239583rem + 2.0833333333vw ,2.5rem)
  }
  .reviews__button {
    width: clamp(2.375rem ,2.1558033854rem + .7291666667vw ,2.8125rem)
  }
  .price__item {
    font-size: clamp(1rem ,.9373723958rem + .2083333333vw ,1.125rem)
  }
  .price__buttons {
    margin-top: clamp(1.25rem ,.6237239583rem + 2.0833333333vw ,2.5rem)
  }
  .contacts__link {
    font-size: clamp(1.625rem ,1.1866067708rem + 1.4583333333vw ,2.5rem)
  }
}
@media (max-width:62.06125em)and (min-width:30.06125em) {
  .process__list {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (min-width:30em)and (max-width:90em) {
  .process__block img {
    width: clamp(3.125rem ,2.8125rem + 1.0416666667vw ,3.75rem)
  }
}
@media (min-width:24.43625em)and (max-width:90.06125em) {
  .type__name {
    font-size: clamp(1.125rem ,.8922738095rem + .9523809524vw ,1.75rem)
  }
}
@media (any-hover:hover) {
  .btn_one:hover {
    background-color: #fff;
    color: #121212
  }
  .btn_two:hover {
    color: #066839;
    background-color: #fff
  }
  .btn_three:hover {
    color: #fff;
    background-color: #121212;
    border-color: #121212
  }
  .social-btn:hover {
    background-color: #066839
  }
  .social-btn:hover path {
    fill: #fff
  }
  .menu__link:hover {
    color: #066839
  }
  .footer__link:hover {
    color: #066839
  }
  .footer__btm.link:hover {
    color: #066839
  }
  .contacts__link:hover {
    color: #066839
  }
}