.hero {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  @media (min-width:toEm(820.98)){
    justify-content: center;
  }
  @media (max-width: toEm(820.98)) and (min-width:$mobileSmall) {
    justify-content: space-between;
  }
  @media (min-width:$mobileSmall){
    padding-top: toRem(100);
    padding-bottom: toRem(50);
  }
  @media (max-width:$mobileSmall){
    padding-top: toRem(70);
    padding-bottom: toRem(30);
    justify-content: flex-end;
  }
	// .hero__bg
	&__bg {
    z-index: -1;
    @media (min-width:toEm(820.98)){
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      width: 50%;
    }
    @media (max-width: toEm(820.98)) and (min-width: $mobileSmall){
      position: relative;
      width: 70%;        
      left: 50%;
      transform: translate(-50%,0);
      margin-bottom: toRem(50);
    }
    @media (max-width: $mobileSmall){
        position: absolute;
        inset: 0;
        &::before {
          content:'';
          position: absolute;
          inset: 0;
          background-color: rgba(0,0,0,0.6);
        }
    }
	}
  // .hero__container
  &__container {
    position: relative;
    z-index: 2;
  }
	// .hero__body
	&__body {
    @media (min-width:toEm(1200.98)){
      width: 65%;
    }
    @media (max-width:toEm(1200.98)) and (min-width: toEm(820.98)) {
      width: 75%;        
    }
    @media (max-width:$mobileSmall){
       color: #fff; 
    }
	}
  // .hero__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(25);
    }
    @media (min-width:toEm(820.98)){
      max-width: 80%;
    }
  }
  // .hero__txt
  &__txt {
    line-height: 1.1;
    font-weight: 400;
    @include adaptiveValue("font-size", 22, 18,0,1920,480.98);
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    @media (min-width:toEm(820.98)){
      max-width: 80%;
    }
  }
  // .hero__buttons
  &__buttons {
    display: grid;
    @include adaptiveValue("margin-top", 50, 20,0,1920,480.98);
    @media (min-width:toEm(820.98)){
      max-width: 80%;
    }
    @media (min-width:toEm(700.98)){
      grid-template-columns: 1fr 1fr;
      gap: toRem(30);
    }
    @media (max-width: toEm(700.98)){
        gap: toRem(10);
    }
  }
  // .hero__btn
  &__btn {
  }
}


// === ABOUT SECTION ===========================




// ===  SECTION ===========================
// ===  SECTION ===========================
// ===  SECTION ===========================
// ===  SECTION ===========================
// ===  SECTION ===========================